@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "../hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@layer base {

  html,
  body,
  main,
  header,
  aside,
  section,
  nav {
    transition: background-color .2s ease, color .2s ease, border-color .2s ease;
  }
}